section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 36px;

    lucide-icon {
        color: #fab46e;

        &.active {
            fill: #fab46e;
        }
    }
}

.details {
    color: #fff;
    width: 40%;

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        a {
            color: #fff;
        }

        div:first-child a {
            display: flex;
            align-items: center;
            font-size: 14px;
            text-decoration: none;
        }

        lucide-icon[name="chevron-left"] {
            margin-right: 0.5rem;
        }

        lucide-icon[name="trash"] {
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
}

.details__header {
    display: flex;
    flex-direction: column;

    .details__text {
        padding-left: 2rem;
        width: 100%;

        p {
            margin: 0.5rem 0;
        }
    }

    .details__categories-container {
        display: flex;
        gap: 0.75rem;

        p {
            width: max-content;
            padding: 4px 8px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.08);
        }
    }
}
