<section *ngIf="article && this.authenticationService.isLogged">
    <article class="details">
        <div class="details__buttons">
            <div>
                <a routerLink="">
                    <lucide-icon name="chevron-left"></lucide-icon>
                    Retour
                </a>
            </div>
            <div>
                <a [routerLink]="'/articles/' + article.tid + '/edit'">
                    <lucide-icon name="edit-3"></lucide-icon>
                </a>
                <lucide-icon (click)="deleteArticle(article.tid)" name="trash"></lucide-icon>
            </div>
        </div>
        <div class="details__header">
            <h1>{{article.title}}</h1>
            <p>{{article.summary}}</p>
        </div>
        <div class="details__body">
            {{article.content}}
        </div>
        <div class="details__footer">
            <p>{{article.author}}</p>
        </div>
    </article>
</section>

<section *ngIf="article && !this.authenticationService.isLogged">
    <article class="details">
        <div class="details__buttons">
            <div>
                <a routerLink="">
                    <lucide-icon name="chevron-left"></lucide-icon>
                    Retour
                </a>
            </div>
        </div>
        <div class="details__header">
            <h1>{{article.title}}</h1>
            <p>{{article.summary}}</p>
        </div>
        <div class="details__body">
            {{article.content}}
        </div>
        <div class="details__footer">
            <p>{{article.author}}</p>
        </div>
    </article>
</section>