.logged {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 64px);
    font-size: 2rem;

    div {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            font-size: 1rem;
        }
    }
}

button {
    color: #000;
    background: linear-gradient(85.93deg, #fab46e 0%, #f15a50 100%);
    padding: 12px 16px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}