<section class="section-container">
  <div class="login">
    <h1>Login</h1>
    <form (ngSubmit)="login()" ngNativeValidate>
      <p>
        <label for="username">Username</label>
        <input
          [(ngModel)]="username"
          type="text"
          name="username"
          id="username"
          required
        />
      </p>
      <p>
        <label for="password">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          name="password"
          id="password"
          required
        />
      </p>
      <p class="button-container"><button>Sign in</button></p>
    </form>
  </div>
</section>
