<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                <lucide-icon name="chevron-left"></lucide-icon>
                Retour
            </a>
        </div>
        <h1>Créer un compte</h1>

        <form id="registerUser" (ngSubmit)="registerUser()" ngNativeValidate>
            <div class="register-user__input-container"><label for="username">Username</label><input type="text"
                    name="author" [(ngModel)]="user.username" required></div>
            <div class="register-user__input-container"><label for="email">Email</label><input type="email"
                    name="summary" [(ngModel)]="user.email" required></div>
            <div class="register-user__input-container"><label for="password">Password</label><input type="password"
                name="summary" [(ngModel)]="user.password" required></div>
            <div class="register-user__button-container">
                <button>Créer un compte</button>
            </div>
        </form>
    </div>

</section>