<section>
    <div class="section-container">
        <div class="back">
            <a [routerLink]="'/articles/' + article.tid">
                <lucide-icon name="chevron-left"></lucide-icon>
                Retour
            </a>
        </div>
        <h1>Mettre à jour l'article</h1>

        <form id="updatearticle" (ngSubmit)="updateArticle()" ngNativeValidate>
            <div class="update-article__input-container"><label for="title">Titre</label><input type="text" name="title"
                    [(ngModel)]="article.title" required>
            </div>
            <div class="update-article__input-container"><label for="author">Auteur</label><input type="text"
                name="author" [(ngModel)]="article.author" required disabled></div>
            <div class="update-article__input-container"><label for="summary">Sommaire</label><input type="text"
                    name="summary" [(ngModel)]="article.summary" required></div>
            <div class="update-article__input-container"><label for="content">Contenu</label><textarea rows="10"
                    name="content" [(ngModel)]="article.content" required></textarea></div>
            <div class="update-article__button-container">
                <button>Mettre à jour l'article</button>
            </div>
        </form>
    </div>

</section>