@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #1b2022;
    color: #fff;
}

.section-container {
    padding: 0 2rem;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
