section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
    margin: 2rem 0;


    article {
        position: relative;
        display: flex;
        flex-direction: column;
        h2 {
            margin-bottom: auto;
            padding-bottom: 2rem;
        }
        .trash {
            position: absolute;
            top: 0;
            right: 0;
            color: red;
        }

        h1 {
            margin-top: 0;
        }

        button {
            color: black;
            padding: 0.5rem 2rem;
            border-radius: 0.5rem;
            background: linear-gradient(85.93deg, #fab46e 0%, #f15a50 100%);
        }
    }
}