<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                <lucide-icon name="chevron-left"></lucide-icon>
                Retour
            </a>
        </div>
        <h1>Ajouter un article</h1>

        <form id="addarticle" (ngSubmit)="addArticle()" ngNativeValidate>
            <div class="add-article__input-container"><label for="title">Titre</label><input type="text" name="title"
                    [(ngModel)]="article.title" required>
            </div>
            <div class="add-article__input-container"><label for="author">Auteur</label><input type="text"
                    name="author" [(ngModel)]="article.author" disabled></div>
            <div class="add-article__input-container"><label for="summary">Sommaire</label><input type="text"
                    name="summary" [(ngModel)]="article.summary" required></div>
            <div class="add-article__input-container"><label for="content">Contenu</label><textarea rows="10"
                    name="content" [(ngModel)]="article.content" required></textarea></div>
            <div class="add-article__button-container">
                <button>Ajouter l'article</button>
            </div>
        </form>
    </div>

</section>