header {
    height: 4rem;
    width: 100%;
    background-color: #282f33;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 100%;

    .header__column:not(:nth-child(2)) {
        width: 25%;
    }

    .header__column:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 50%;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.08);
    }

    .header__column.left {
        display: flex;
        justify-content: left;

        img {
            width: 3rem;
            cursor: pointer;
        }
    }

    .header__column.right {
        display: flex;
        justify-content: right;
    }
}

nav {
    ul {
        display: flex;
        gap: 1.5rem;

        .header__nav-link {
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;
            }

        }
    }
}

.search-movie-container {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    lucide-icon {
        display: flex;
        align-items: center;
        color: #fff;
        width: 1.25rem;
        height: 100%;
        margin-right: 0.5rem;
    }

    #search-movie {
        outline: none;
        border: none;
        width: 100%;
        font-size: 1.5rem;
        height: 2.5rem;
        background: none;
        color: #FFF;
    }
}

.active-link {
    font-weight: 700;
}
