<header>
  <div class="header__container">
    <div class="header__column left">
      <img routerLink="" src="../../../assets/blog-svgrepo-com.svg" />
    </div>
    <div class="header__column middle">
      <div class="search-movie-container">
        <lucide-icon name="search"></lucide-icon>
        <input
          (keyup)="onKeyupSearch()"
          type="text"
          class="search-movie"
          id="search-movie"
          aria-describedby="search-text"
          placeholder="Rechercher un article"
          [(ngModel)]="search"
          autofocus
        />
      </div>
    </div>
    <div class="header__column right">
      <nav>
        <ul>
          <li class="header__nav-link">
            <a
              routerLink=""
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Accueil</a
            >
          </li>
          <li
            *ngIf="!this.authenticationService.isLogged"
            class="header__nav-link"
          >
            <a
              routerLink="/register"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Register</a
            >
          </li>
          <li
            *ngIf="!this.authenticationService.isLogged"
            class="header__nav-link"
          >
            <a
              routerLink="/login"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Login</a
            >
          </li>
          <li
            *ngIf="this.authenticationService.isLogged"
            class="header__nav-link"
          >
            <a
              routerLink="/my-account"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >My Account</a
            >
          </li>
          <li
            *ngIf="this.authenticationService.isLogged"
            class="header__nav-link"
          >
            <button (click)="this.authenticationService.logout()">
              Logout
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
